/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2021 Gerson Fernando Budke <nandojve@gmail.com>
 */

/ {
    aliases {
        sh1107 = &sh1107_3c_sercom3;
        mpu6050 = &mpu6050_68_sercom7;
    };

    chosen {
        zephyr,display = &sh1107_3c_sercom3;
    };
};

&pinctrl {
	sercom3_i2c_default: sercom3_i2c_default {
		group1 {
			pinmux = <PA22C_SERCOM3_PAD0>,
				 <PA23C_SERCOM3_PAD1>;
		};
	};
};

&sercom3 {
	status = "okay";
	compatible = "atmel,sam0-i2c";
	clock-frequency = <I2C_BITRATE_FAST>;
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-0 = <&sercom3_i2c_default>;
	pinctrl-names = "default";

    sh1107_3c_sercom3: sh1107@3c {
        compatible = "sinowealth,sh1106";
        label = "SH1107";
	    reg = <0x3c>;
	    height = <64>;
	    width = <132>;
	    segment-offset = <0>;
	    page-offset = <0>;
	    display-offset = <0>;
	    multiplex-ratio = <63>;
	    prechargep = <0x22>;
	    com-invdir;
	    segment-remap;
    };
};

&sercom7 {
	status = "okay";
    compatible = "atmel,sam0-i2c";

    mpu6050_68_sercom7: mpu6050@68 {
        compatible = "invensense,mpu6050"; 					// Specify device bindings/driver
        reg = <0x68>; 										// I2C address of the MCP9808
        label = "mpu6050";
        status = "okay"; 									// Enable the MCP9808 sensor
    };      
};
